body {
  font-family: Arial, sans-serif;
  background-image: linear-gradient(to right, #169b62, #ffffff, #ff883e);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100vh; 
}

#game-container {
  text-align: center;
}
